<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        body{
        background-color: #85FFBD;
        background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        width:100vw;
        height:100vh;
        background-repeat:no-repeat;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h1 class="mb-2 mt-2">REGISTRATION FORM</h1>
            <form action="" class="border shadow p-3 mt-5" method="POST">
                {% csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Register" class="btn btn-outline-success">
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
</html>