<!DOCTYPE html>
{% extends 'base.html'%}
{% block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body ">
                    <h5 class="card-title">{{todo.created_by}}</h5>
                    <p class="card-text">Task Name:{{todo.task_name}}</p>
                    <p class="card-text">Completed:{{todo.completed}}</p>
                    <a href="{% url 'todolist'%}" class="btn btn-primary">Back to list</a>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{%endblock%}